<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [1]:
import pandas as pd

In [2]:
# Change the path to the dataset file if needed. T
PATH = '/home/marchelo/MarcheloBragagnini/100DaysOfMLCode/data/120-years-of-olympic-history-athletes-and-results/athlete_events.csv'

In [3]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 
- 16 and 12
- 13 and 11

In [4]:
q1_male_age = data[(data["Year"] == 1996) & (data["Sex"] == "M")]['Age'].sort_values()
q1_female_age = data[(data["Year"] == 1996) & (data["Sex"] == "F")]['Age'].sort_values()

rspt_q1 = "%d and %d"%(q1_male_age.iloc[0], q1_female_age.iloc[0])
print(rspt_q1)

14 and 12

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 
- 2.5
- 7.7

In [5]:
q2_male_2000 = data[(data["Year"] == 2000) & (data["Sex"] == "M")][['ID', 'Sport']]
q2_den = q2_male_2000['ID'].unique()
q2_num = q2_male_2000[q2_male_2000["Sport"] == "Gymnastics"]['ID'].unique()

q2 = round(len(q2_num)/len(q2_den)*100,1)

rspt_q2= "%.1f"%(q2)
print(rspt_q2)

1.5

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [6]:
q3_female_bas = data[(data["Year"]==2000) 
                     & (data["Sex"]=="F") 
                     & (data["Sport"]=="Basketball")][['ID', 'Height']]
q3_mean = q3_female_bas['Height'].mean()
q3_std = q3_female_bas['Height'].std()

rspt_q3 = "%.1f and %.1f"%(round(q3_mean,1), round(q3_std,1))
print(rspt_q3)

182.4 and 9.1

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh 
- Weightlifting
- Boxing

In [7]:
q4_sporsperson = data[(data["Year"]==2002)][['ID', 
                                             'Sport', 
                                             'Weight']].sort_values(['Weight'], 
                                                                    ascending=[False])

rspt_q4 = "" + q4_sporsperson.iloc[0]["Sport"]

print(rspt_q4)

Bobsleigh

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3

In [8]:
q5_olym = data[(data["Name"] == "Pawe Abratkiewicz")]['Year'].unique()
rspt_q5 = str(len(q5_olym))

print(rspt_q5)

3

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- 2 
- 3

In [9]:
q6_silver = data[(data["Team"] == "Australia") 
                 & (data["Year"] == 2000)
                 & (data["Sport"] == "Tennis")
                 & (data["Medal"] == "Silver")]["ID"].count()

rspt_q6 = str(q6_silver)
print(rspt_q6)

2

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes 
- No

In [10]:
q7_swit = data[(data["Year"] == 2016)
              & (data["Team"] == "Switzerland")
              & (data["Medal"] != "NaN")]["ID"].count()

q7_serbia = data[(data["Year"] == 2016)
              & (data["Team"] == "Serbia")
              & (data["Medal"] != "NaN")]["ID"].count()

rspt_q7 = "Yes" if q7_swit < q7_serbia else "No"
print(rspt_q7)

No

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [11]:
q8_age_2014 = data[(data["Year"] == 2014)][['ID','Age']].drop_duplicates()
q8_age_2014 = q8_age_2014["Age"]
print(q8_age_2014.hist(bins=4))
q8_fewest, q8_most = "[45-55]", "[25-35)"

rspt_q8 = "%s and %s correspondingly"%(q8_fewest,q8_most)
print(rspt_q8)

AxesSubplot(0.125,0.11;0.775x0.77)
[45-55] and [25-35) correspondingly

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [12]:
q9_a = data[(data["City"]=="Lake Placid") & (data["Season"]=="Summer")]['ID'].count()
q9_b = data[(data["City"]=="Sankt Moritz") & (data["Season"]=="Winter")]['ID'].count()

rspt_q9 = "%s,%s"%("Yes" if q9_a > 0 else "No",
                   "Yes" if q9_b > 0 else "No")
print(rspt_q9)

No,Yes

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- 34

In [13]:
q10_sp_1995 = data[(data["Year"]==1995)]['Sport'].unique()
q10_sp_2016 = data[(data["Year"]==2016)]['Sport'].unique()

l_1995 = len(q10_sp_1995)
l_2016 = len(q10_sp_2016)

q10 = l_2016-l_1995 if l_1995<l_2016 else l_1995-l_2016
rspt_q10 = str(q10)
print(rspt_q10)

34

In [14]:
print("Answers")
print("-"*18)
print("Question 01: %s"%(rspt_q1))
print("Question 02: %s"%(rspt_q2))
print("Question 03: %s"%(rspt_q3))
print("Question 04: %s"%(rspt_q4))
print("Question 05: %s"%(rspt_q5))
print("Question 06: %s"%(rspt_q6))
print("Question 07: %s"%(rspt_q7))
print("Question 08: %s"%(rspt_q8))
print("Question 09: %s"%(rspt_q9))
print("Question 10: %s"%(rspt_q10))

Answers
------------------
Question 01: 14 and 12
Question 02: 1.5
Question 03: 182.4 and 9.1
Question 04: Bobsleigh
Question 05: 3
Question 06: 2
Question 07: No
Question 08: [45-55] and [25-35) correspondingly
Question 09: No,Yes
Question 10: 34